<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>웨이팅 등록</title>
</head>
<body>
    <form method="post">
        <div id="restaurantInfo">
            <h3>매장 정보</h3>
            <p>
                <input type="text" id="restaurantId" name="restaurantId" th:value="${restaurantInfo.id}" readonly>
            </p>
            <p>
                <label>매장 명</label>
                <label>
                    <input type="text" th:value="${restaurantInfo.name}" readonly>
                </label>
            </p>
            <p>
                <label>매장 주소</label>
                <label>
                    <input type="text" th:value="${restaurantInfo.address}" readonly>
                </label>
            </p>
            <p>
                <label>전화번호</label>
                <label>
                    <input type="text" th:value="${restaurantInfo.phone}" readonly>
                </label>
            </p>
        </div>

        <div id="accountInfo">
            <h3>예약자 정보</h3>
            <p>
                <label>이름</label>
                <label>
                    <input type="text" th:value="${accountInfo.name}" readonly>
                </label>
            </p>
            <p>
                <label>전화번호</label>
                <label>
                    <input type="text" th:value="${accountInfo.phone}" readonly>
                </label>
            </p>
            <p>
                <label>이메일</label>
                <label>
                    <input type="text" th:value="${accountInfo.id}" id="accountId" name="accountId" readonly>
                </label>
            </p>
        </div>

        <!--예약 날짜, 예약 시간-->
        <div id="reservationInfo">
            <p>
                <label>예약 날짜</label>
                <label>
                    <input type="text" id="reservationDate" name="reservationDate"
                           placeholder="ex) 2024-01-01" required="" autofocus="">
                </label>
            </p>
            <p>
                <label>예약 시간</label>
                <label>
                    <input type="text" id="reservationTime" name="reservationTime"
                           placeholder="ex) 18, 18:30" required="">
                </label>
            </p>
        </div>
        <button type="submit">예약하기</button>
    </form>

    <div>
        <a th:href="@{/account/dashboard}">홈으로</a>
    </div>
</body>
</html>